<% layout('boilerplate') -%>
<div class="main-div">
    <div class="sec-div">
        <image id="image" src="<%= listedData.image.url %>" alt="img"/>
        <div class="author-div">
            <h3><b>Name:</b><%= listedData.owner.username %></h3>
            <h3><b>Email:</b><%= listedData.owner.email %></h3>
        </div>
        <hr/>
        <div class="info-div">
            <h4><b>Title:</b><%= listedData.title %></h3>
            <h4><b>Description:</b><%= listedData.description %></h3>
            <h4><b>Location:</b><%= listedData.location %></h3>
            <h4><b>Country:</b><%= listedData.country %></h3>
            <h4><b>Price:</b>&#8377;<%= listedData.price %></h3>
        </div>
        <hr/>
        <% if (userReq) { %>
              
            <% if (userReq.username === listedData.owner.username) { %>
                <div class="dlt-btn">
                    <a href="/airBNB/<%= listedData._id %>/edit"><button class="activity-btn">Edit</button></a>
                    <a href="/airBNB/<%= listedData._id %>/delete"><button  class="activity-btn">Delete</button></a>
                </div>
            <% } %>
        <% } %>
        <hr/>
        <div class="input-div">
            <% if (userReq) { %>
            <form method="post" action="/airBNB/<%= listedData._id %>/review">
            <h3>Comment Down!</h3>
            <textarea name="review[comment]" rows="5" cols="50" placeholder="Type Comment"></textarea>
            <input name="review[rating]" id="range" type="range" id="rating-1" min="0" max="5" value="5" step="1"/>
            <br/>
            <button id="btn">Submit</button>
        </form>
        <% } %>
        </div>
       <hr/>
       <div class="review-div">
        <h2>Related Reviews!</h2>
        <% for(review of listedData.review){ %>
        <h5><b>Author:</b><%=review.author.username%></h5>
        <h5><b>Comment:</b><%= review.comment %></h5>
        <h5><b>Rating:</b><%= review.rating %> / 5</h5>
        &nbsp;&nbsp;  
        <% } %>
    </div>
    </div>
  </div>
